<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Escaner QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
  <ion-button (click)="action.isStart ? action.stop() : action.start()" color="tertiary">{{action.isStart ? 'DESACTIVAR CAMARA' : 'ACTIVAR CAMARA'}}</ion-button>
  </ion-card>
</ion-content>
